body,
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  align-items: center;
  background-color: #ffffff;
  color: #131415;
  transition: background-color ease 100ms;
}

.page {
  padding: 1em;
  width: 100%;
  flex: 1;
}

.refresh {
  align-self: flex-end;
  cursor: pointer;
}

.devtitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;

  &__name {
    font-size: responsive 2em 8em;
    font-range: 18.75em 56em;
    line-height: 1.2;
    word-break: break-word;
  }

  &__credits {
    p,
    a {
      font-size: 0.75em;
    }

    a {
      text-decoration: underline;
    }
  }
}

.about {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 4rem 1rem 1rem;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out 200ms;
  z-index: 2;
  overflow: auto;

  &--active {
    opacity: 1;
    visibility: visible;
  }

  h2 {
    margin-bottom: 4rem;
    font-size: 4rem;
  }

  p {
    margin-bottom: 1.125rem;
    font-size: 1.875rem;
    line-height: calc(100% + 8px);
  }

  a {
    font-weight: bold;
  }

  button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
}

nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 -0.25em;

  h2 {
    padding: 0.25em;
  }

  ul {
    li {
      display: inline-block;

      a,
      button {
        cursor: pointer;
        padding: 0.25em;
        text-decoration: underline;
      }
    }
  }
}
